@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

html {
  background-color: #252526;
  color: #d1d2d3;
  font-family: "Rubik", sans-serif;

  h1,
  h2,
  h3 {
    font-family: "Arial Black", Gadget, sans-serif;
  }
}
