.countryListDiv,
.modal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .countryDiv {
    .stickyElement {
      background-color: rgba(255, 255, 255, 0.5) !important;
      color: #383838;
    }

    .countryElement {
      background-color: #383838;
      box-shadow: inset 0 0 8px #4e4c4c, 0 0 16px #4e4c4c;
      border-radius: 10px;
      width: 25vw;
      max-width: 200px;
      min-width: 100px;
      padding: 10px;
      margin: 10px;

      .countryElementHeader {
        text-align: center;
      }

      .countryElementFieldRow {
        font-size: 20px;
        .countryElementFieldLabel {
          float: left;
          color: white;
          font-weight: bold;
        }
        .countryElementFieldValue {
          float: right;
        }
      }
      .countryElementFieldRow:after {
        content: '';
        display: table;
        clear: both;
      }

      .countryDivElementButtons {
        .btnSticky,
        .btnDetails {
          background-color: rgba(255, 255, 255, 0.5);
          color: #383838;
          border: none;
          font-size: 20px;
          padding: 5px;
          border-radius: 10%;
        }

        .btnDetails {
          float: left;
        }

        .btnSticky {
          float: right;
        }

        .btnSticky:hover,
        .btnDetails:hover {
          background-color: #383838;
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }
      }

      .countryDivElementButtons:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
}

.countrySearchDiv {
  #countrySearchInput {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
      0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
      0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
    font-size: 24px;
    width: 250px;
  }
}
