.modal {
  background-color: #252526;

  .btnCloseModal {
    position: fixed;
    right: 0;
    top: 0;
    color: red;
    margin: 20px;
    font-size: 40px;
  }

  .btnCloseModal:hover {
    cursor: pointer;
    box-shadow: inset 0 0 8px #4e4c4c, 0 0 16px #4e4c4c;
  }
}