.modal {
  background-color: #252526;
  width: 100%;

  .countryElementHeader {
    margin-left: 10px;
  }

  .btnCloseModal {
    position: fixed;
    right: 0;
    color: red;
    margin-top: 10px;
    margin-right: 80px;
    font-size: 40px;
  }

  .btnCloseModal:hover {
    cursor: pointer;
    box-shadow: inset 0 0 8px #4e4c4c, 0 0 16px #4e4c4c;
  }
}