@media only screen and (max-width: 700px) {
  .countryListDiv {
    .countryDiv {
      .countryElement {
        .countryElementFieldRow {
          .countryElementFieldValue {
            clear: both;
            display: block;
          }
          .countryElementFieldValue {
            clear: both;
            float: none !important;
            display: block;
          }
        }
        .countryElementFieldRow:after {
          display: block;
          clear: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .countryListDiv {
    .countryDiv {
      .countryElement {
        width: 32vw;
      }
    }
  }
}
